<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Country List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>CountryName</th>
            <th>PresidentName</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let country of countries | async">
            <td>{{country.countryName}}</td>
            <td>{{country.presidentName}}</td>
            <td>{{country.description}}</td>
            <td><button (click)="deleteCountry(country.id)" class="btn btn-danger">Delete</button>
                <button (click)="updateCountry(country.id)" class="btn btn-info"  style="margin-left: 10px">Update</button>
                <button (click)="countryDetails(country.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>